<div class="post-preview">
  <a href="#">
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= post.body.truncate(255, '…') %>
    </h3>
  </a>
  <p class="post-meta">Posted by
    <a href="#">Start Bootstrap</a>
    on <%= post.created_at.strftime('%d-%m-%Y %H:%M') %>
  </p>
</div>
<hr>